<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.area237.lmlys.dao.CartDao">

    <select id="amountSelectByUsername" resultType="Integer">
    select sum(case when username=#{username} then 1 end) as result_sum FROM v_cart
    </select>

    <resultMap id="Cartdes" type="team.area237.lmlys.model.entity.Cart">
        <result column="goods_id" jdbcType="INTEGER" property="goodsId"/>
        <result column="amount" jdbcType="VARCHAR" property="count"/>
    </resultMap>
    <select id="InfoSelectByUsername" resultMap="Cartdes">
    select goods_id,amount from orders where username = #{username};
    </select>
    <delete id="deleteByUsername">
    delete from v_cart where username=#{username};
    </delete>

    <insert id="insertAllByUsername" >
        insert into v_cart (username,goods_id,amount) value
        <foreach collection="array" item="item" separator=",">
            (#{username},#{item.goodsId},#{item.count})
        </foreach>
    </insert>
    <insert id="insertByUsername" ><!--没添加parameterType，若有问题可添加后再尝试-->
        insert into v_cart (username,goods_id,amount) value (#{username},#{goods_id},#{count})
    </insert>



</mapper>