<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.area237.lmlys.dao.ManagerDao">
    <select id="selectAllOrders" resultType="integer">
    select id from orders where status=1
    </select>

    <resultMap id="ordersbyId" type="team.area237.lmlys.model.response.GetOrderResponse">
        <result column="goods_id" jdbcType="INTEGER" property="goodsID"/>
        <result column="goods_name" jdbcType="VARCHAR" property="goodsTitle"/>
        <result column="amount" jdbcType="INTEGER" property="count"/>
        <result column="date" jdbcType="DATE" property="time"/>
        <result column="orders_status" jdbcType="VARCHAR" property="state"/>
        <result column="username" jdbcType="VARCHAR" property="user"/>
    </resultMap>

    <select id="selectOrderById" resultMap="ordersbyId">
    select orders.goods_id,goods.goods_name,amount,orders_status,date,username from goods,orders
    where id=#{id} and status=1 AND goods.goods_id=orders.goods_id
    </select>

    <update id="updateStatusById">
    update orders set orders_status=#{status} where id=#{id}
    </update>

    <select id="selectLevelByUsername" resultType="integer">
    select status from user where username=#{username}
    </select>
</mapper>