<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.area237.lmlys.dao.ManagerDao">
    <select id="selectAllOrders" resultType="integer">
    select id from orders
    </select>

    <resultMap id="ordersbyId" type="team.area237.lmlys.model.response.GetOrderResponse">
        <result column="good_id" jdbcType="INTEGER" property="goodsID"/>
        <result column="goods.goods_name" jdbcType="VARCHAR" property="goodsTitle"/>
        <result column="amount" jdbcType="INTEGER" property="count"/>
        <result column="changetime" jdbcType="DATE" property="time"/>
        <result column="status" jdbcType="VARCHAR" property="state"/>
    </resultMap>

    <select id="selectOrderById" resultMap="ordersbyId">
    (select goods_id from orders where id = #{id}) union
    (SELECT goods.goods_name FROM goods INNER JOIN orders ON goods.goods_id=orders.goods_id WhERE orders.id=#{id})union
    (select amount from orders where id = #{id}) union
    (select changetime from orders where id = #{id})
    (select status from orders where id = #{id}) union
    </select>

    <update id="updateStatusById">
    update orders set status=#{status} where id=#{id}
    </update>

    <select id="selectLevelByUsername" resultType="integer">
    select status from user where username=#{username}
    </select>
</mapper>